beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
django-htmlmin==0.10.0
Flask==1.0
future==0.16.0
html5lib==0.999999999
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
lxml==4.6.3
MarkupSafe==1.0
peewee==2.10.1
peewee-db-evolve==0.6.4
psycopg2==2.7.3
pyotp==2.2.6
pyTelegramBotAPI==3.1.0
requests==2.20.0
six==1.10.0
urllib3==1.24.2
webencodings==0.5.1
Werkzeug==0.15.3
