{% extends 'base.html' %}
{% block content%}
<div class="container-fluid">
  <h1>About </h1>

  <h2>FAQ</h2>
  <h3>What can you do?</h3>
  <p>I can store links, map directions and messages.</p>
  <h3>How do I save links?</h3>
  <p>To store a link just send it somewhere in a message. If you want it to be
    stored on pocket, use the sintax <code>!p url tags</code>.</p>
  <h3>And maps?</h3>
  <p>Easy, share with me a location.</p>
  <h3>What is pocket?</h3>
  <p><a href="https://getpocket.com">Pocket</a> is a multiplatform app to save links.</p>
</div>

{% endblock%}
