{% extends 'base.html' %}
{% block title %}
Walid - About
{% endblock %}
{% block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>Changelog</h2>

      <h5>Version 1.1 - 14/08/2017</h5>
      <ul>
          <li>Fix error on title save</li>
          <li>Mark links as reviewed. Now is easier to track what you have visited</li>
          <li>Performance improved</li>
      </ul>

       <h5>Version 1.0</h5>
       <ul>
         <li>Add messages, locations and links</li>
         <li>Website integration</li>
         <li>Commands to manage access</li>
       </ul>
    </div>
  </div>

</div>

{% endblock%}
