{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}
{% block head %}

<style media="screen">
  .equal {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  div[class*='colum'] {
    flex:1 1 auto;
    display: flex;
  }
  .panel {
    flex:1 0 100%;
  }
  .bot{
    background-color: #e7e7e7;
  }

  .human{
    background-color: #53acd8;
  }
</style>

{% endblock %}
{% block content %}

<div class="container-fluid">
  <h1>Walid</h1>
  <h4 class="text-center">Saving links, maps and messages for you</h4>
  <div class="row">
    <div class="col-xs-12 text-center center-block">
      <a href="http://telegram.me/linkStorebot">
        <button type="button" class="btn btn-primary"><i class="fa fa-paper-plane"></i>  chat with me</button>
      </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4 colum col-xs-12 text-cetner">
      <div class="panel panel-default">
          <div class="panel-body">
            To add links to pocket account use the sintax:

            <p><code>!p an_url one_tag other_tag </code></p>

            <p>Example: <code>!p yabirgb.es tech dev maths </code></p>
          </div>
        </div>
    </div>

    <div class="col-md-4 colum col-xs-12 text-cetner">
      <div class="panel panel-default">
          <div class="panel-body">
            <p>You can send a complete url like <code>github.com</code> and
            the bot will save it for you. It can be mixed with text.</p>

            <p>Examples:
              <ul>
                <li><code>Walid save the url yabirgb.com</code></li>
                <li><code>yabirgb.com</code></p></li>
              </ul>
            </p>

            Also links in forwarded messages will be saved.
          </div>
        </div>
    </div>

    <div class="col-md-4 colum col-xs-12 text-cetner">
      <div class="panel panel-default">
          <div class="panel-body">
            <p>To configure pocket use the command <code>/pocket</code> and
            authorize the app from your browser following the instructions.</p>
            <p>To see your links use <code>/me</code> and the bot will give you
            a url where you can see them.</p>
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock %}
