{% extends "base.html" %}
{% block title %}
Walid - {{user.username}}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2 class="text-center">Hello {{user.username}}</h2>
    </div>
  </div>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2/dist/vue.min.js"></script>
  <div class="container">

    <script type="text/x-template" id="grid-template">
      <table class="table">
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
                ${ key | capitalize }
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
              <template v-if="key === 'url'">
                <a :href="entry[key]">${ entry[key] }</a>
              </template>
              <template v-else-if="key === 'maps'">
                <iframe
                  width="300"
                  height="180"
                  frameborder="0" style="border:0"
                  :src="entry[key]">
                </iframe>
              </template>
              <template v-else>
                ${ entry[key] }
              </template>
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <div id="demo">

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" @click="apply('links')" class="btn btn-default">Links</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" @click="apply('maps')" class="btn btn-default">Maps</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" @click="apply('messages')" class="btn btn-default">Messages</button>
        </div>
      </div>

      <form id="search">
        <br>
        <div class="input-group add-on">
          <input class="form-control" placeholder="Search" name="query" v-model="searchQuery" type="text">
        </div>
      </form>
      <demo-grid
        :data="gridData"
        :columns="gridColumns"
        :filter-key="searchQuery">
      </demo-grid>
    </div>
  </div>

    <script type="text/javascript">
      var urls_data = {{urls|safe}}.data
      var maps_data = {{maps|safe}}.data
      var messages_data = {{messages|safe}}.data

      Vue.config.delimiters = ['${', '}'];

      Vue.component('demo-grid', {
        template: '#grid-template',
        delimiters: ['${', '}'],
        props: {
          data: Array,
          columns: Array,
          filterKey: String
        },
        data: function () {
          var sortOrders = {}
          this.columns.forEach(function (key) {
            sortOrders[key] = 1
          })
          return {
            sortKey: '',
            sortOrders: sortOrders
          }
        },
        computed: {
          filteredData: function () {
            var sortKey = this.sortKey
            var filterKey = this.filterKey && this.filterKey.toLowerCase()
            var order = this.sortOrders[sortKey] || 1
            var data = this.data
            if (filterKey) {
              data = data.filter(function (row) {
                return Object.keys(row).some(function (key) {
                  return String(row[key]).toLowerCase().indexOf(filterKey) > -1
                })
              })
            }
            if (sortKey) {
              data = data.slice().sort(function (a, b) {
                a = a[sortKey]
                b = b[sortKey]
                return (a === b ? 0 : a > b ? 1 : -1) * order
              })
            }
            return data
          }
        },
        filters: {
          capitalize: function (str) {
            return str.charAt(0).toUpperCase() + str.slice(1)
          }
        },
        methods: {
          sortBy: function (key) {
            this.sortKey = key
            this.sortOrders[key] = this.sortOrders[key] * -1
          }
        }

      })

      // bootstrap the demo
      var demo = new Vue({
        el: '#demo',
        data: {
          searchQuery: '',
          gridColumns: ['url', 'date', 'title',],
          gridData: urls_data
        },
        methods: {
          apply: function (data_set) {
            if ( data_set ==  'links'){
              this.gridColumns = ['url', 'date', 'title'],
              this.gridData = urls_data
            } else if (data_set == 'maps') {
              this.gridColumns = ['maps','latitude','longitude', 'date'],
              this.gridData = maps_data
            }
            else{
              this.gridColumns = ['text', 'date'],
              this.gridData = messages_data
            }

            this.searchQuery = ''
          }
        }
      })
    </script>
{% endblock %}
